extends layout

block content
  h1 This is my First Full Stack App
  p It is a simple app being hosted on Heroku
  
  h1 I hope you like it!!!

  if error
    p Error getting dynamic content.
  else

    p Things I love to do

    ul
      li Play video games
      li Read Books
      li Play disc golf
  h3 P.S. It is extremely simple and for fun!
  button(id="btn" type="button" class="btn btn-warning") Click
  p(id="text") I havent figured out how to use the button yet